<!DOCTYPE html>
<html lang="en" th:with="title='保存页面',active='page'" xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::headerFragment(${title},${active})"></header>
<link rel="stylesheet" th:href="@{/admin/plugins/toggles/toggles.css}"/>
<link rel="stylesheet" th:href="@{/admin/plugins/md/css/style.css}"/>
<body class="fixed-left">
<div id="wrapper">
    <div th:replace="admin/header::header-body"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">
                            <th:block th:if="${null != contents}">
                                编辑页面
                            </th:block>
                            <th:block th:unless="${null != contents}">
                                发布新页面
                            </th:block>
                        </h4>
                    </div>
                    <div class="col-md-12">
                        <form id="articleForm" novalidate="novalidate" role="form">
                            <input id="categories" name="categories" type="hidden"/>
                            <input id="cid" name="cid"
                                   th:value="${contents!=null and contents.cid!=null}?${contents.cid}: ''"
                                   type="hidden"/>
                            <input id="status" name="status"
                                   th:value="${contents!=null and contents.status !=null}?${contents.status}: 'publish'"
                                   type="hidden"/>
                            <input id="allow_comment" name="allowComment"
                                   th:value="${contents!=null and contents.allowComment !=null}?${contents.allowComment}: true"
                                   type="hidden"/>
                            <input id="allow_ping" name="allowPing"
                                   th:value="${contents!=null and contents.allowPing !=null}?${contents.allowPing}: true"
                                   type="hidden"/>
                            <input id="allow_feed" name="allowFeed"
                                   th:value="${contents!=null and contents.allowFeed !=null}?${contents.allowFeed}: true"
                                   type="hidden"/>
                            <input id="content-editor" name="content" type="hidden"/>

                            <div class="form-group">
                                <input aria-required="true" class="form-control" name="title" placeholder="请输入页面标题"
                                       required="required"
                                       th:value="${contents!=null and contents.title!=null }?${contents.title}: ''"
                                       type="text"/>
                            </div>

                            <div class="form-group">
                                <input aria-required="true" class="form-control" name="slug" placeholder="请输入页面访问名"
                                       required="required"
                                       th:value="${contents!=null and contents.slug !=null}?${contents.slug}: ''"
                                       type="text"/>
                            </div>
                            <div class="clearfix"/>

                            <div class="form-group">
                                <textarea autocomplete="off" class="markdown-textarea" id="text" name="text"
                                          style="height: 450px"
                                          th:utext="${contents!=null and contents.content !=null}?${contents.content}: ''"></textarea>
                            </div>

                            <div class="form-group col-md-3 col-sm-4">
                                <label class="col-sm-4">开启评论</label>
                                <div class="col-sm-8">
                                    <div onclick="allow_comment(this);"
                                         th:class="${contents!=null and contents.allowComment!=null }?'toggle toggle-success allow-'+${contents.allowComment}:'toggle toggle-success allow-true'"></div>
                                </div>
                            </div>

                            <div class="form-group col-md-3 col-sm-4">
                                <label class="col-sm-4">允许Ping</label>
                                <div class="col-sm-8">
                                    <div onclick="allow_ping(this);"
                                         th:class="${contents!=null and contents.allowPing !=null}?'toggle toggle-success allow-'+${contents.allowPing}:'toggle toggle-success allow-true'"></div>
                                </div>
                            </div>

                            <div class="form-group col-md-3 col-sm-4">
                                <label class="col-sm-4">允许订阅</label>
                                <div class="col-sm-8">
                                    <div onclick="allow_feed(this);"
                                         th:class="${contents!=null and  contents.allowFeed !=null}?'toggle toggle-success allow-'+${contents.allowFeed}: 'toggle toggle-success allow-true'"></div>
                                </div>
                            </div>

                            <div class="clearfix"></div>


                            <div class="text-right">
                                <button type="button" class="btn btn-primary waves-effect waves-light"
                                        onclick="subPage('publish');">
                                    保存页面
                                </button>
                                <button type="button" class="btn btn-warning waves-effect waves-light"
                                        onclick="subPage('draft');">
                                    存为草稿
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
                <div th:replace="admin/footer :: footer-content"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer :: footer"></div>
<script th:src="@{/admin/plugins/md/js/jquery.scrollto.js}"></script>
<script th:src="@{/admin/plugins/md/js/pagedown.js}"></script>
<script th:src="@{/admin/plugins/md/js/pagedown-extra.js}"></script>
<script th:src="@{/admin/plugins/md/js/diff.js}"></script>
<script th:src="@{/admin/plugins/md/js/md.js}"></script>

<script th:src="@{//cdn.bootcss.com/jquery-toggles/2.0.4/toggles.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/jquery-validate/1.15.1/jquery.validate.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/jquery-validate/1.15.1/localization/messages_zh.min.js}"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    var tale = new $.tale();

    // validate the comment form when it is submitted
    // $('#articleForm').validate({
    //     submitHandler: function (form) {
    function subPage(status) {
        var title = $('#articleForm input[name=title]').val();
        var location = $('#articleForm input[name=slug]').val();
        var content = $('#text').val();
        if (title == '') {
            tale.alertWarn('请输入页面标题');
            return;
        }

        if (location == '') {
            tale.alertWarn('请输入页面路径');
            return;
        }
        if (content == '') {
            tale.alertWarn('请输入页面内容');
            return;
        }
        $('#content-editor').val(content);
        $("#articleForm #categories").val($('#multiple-sel').val());
        var params = $("#articleForm").serialize();
        var url = $('#articleForm #cid').val() !== '' ? '/admin/page/modify' : '/admin/page/publish';

        tale.post({
            url: url,
            data: params,
            success: function (result) {
                if (result && result.success) {
                    tale.alertOk({
                        text: '页面保存成功',
                        then: function () {
                            setTimeout(function () {
                                window.location.href = '/admin/page';
                            }, 500);
                        }
                    });
                } else {
                    tale.alertError(result.msg || '页面文章失败');
                }
            }
        });
    }

    // });

    var textarea = $('#text'),
        toolbar = $('<div class="markdown-editor" id="md-button-bar" />').insertBefore(textarea.parent())
    preview = $('<div id="md-preview" class="md-hidetab" />').insertAfter('.markdown-editor');

    markdown(textarea, toolbar, preview);

    $('.toggle').toggles({
        on: true,
        text: {
            on: '开启',
            off: '关闭'
        }
    });

    function allow_comment(obj) {
        var this_ = $(obj);
        var on = this_.find('.toggle-on.active').length;
        var off = this_.find('.toggle-off.active').length;
        if (on == 1) {
            $('#allow_comment').val(false);
        }
        if (off == 1) {
            $('#allow_comment').val(true);
        }
    }

    function allow_ping(obj) {
        var this_ = $(obj);
        var on = this_.find('.toggle-on.active').length;
        var off = this_.find('.toggle-off.active').length;
        if (on == 1) {
            $('#allow_ping').val(false);
        }
        if (off == 1) {
            $('#allow_ping').val(true);
        }
    }


    function allow_feed(obj) {
        var this_ = $(obj);
        var on = this_.find('.toggle-on.active').length;
        var off = this_.find('.toggle-off.active').length;
        if (on == 1) {
            $('#allow_feed').val(false);
        }
        if (off == 1) {
            $('#allow_feed').val(true);
        }
    }

    $('div.allow-false').toggles({
        off: true,
        text: {
            on: '开启',
            off: '关闭'
        }
    });
    /*]]>*/
</script>

</body>
</html>
